* {
  margin: 0;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: #44445e;
}

h1 {
  color: white;
}

input {
  width: 80%;
  border-radius: 20px;
  padding: 2%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  border: none;
  background-color: #5b6781;
}

textarea:focus,
input:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.603);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-current-day {
  border-radius: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 3% 0 0 0;
}

.container-infos {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  margin-bottom: 2%;
}

.div-temperature {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  font-size: 90px;
  gap: 0.5em;
  padding-bottom: 2rem;
}

.div-temperature img {
  scale: 1;
}

.info-weather-div {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 40px;
}

.more-infos {
  display: flex;
  gap: 2%;
  text-align: center;
  font-size: 20px;
}

.more-infos div {
  width: 12vw;
}

.container-previsions {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 2%;
  justify-content: center;
}

.container-previsions div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.219);
  padding-top: 2%;
  border-radius: 20px;
  width: 200px;
}

@media screen and (max-width: 767px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 4%;
    background-color: #44445e;
  }

  h1 {
    color: white;
    font-size: large;
  }

  input {
    width: 80%;
    border-radius: 20px;
    padding: 2%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: #5b6781;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.603);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .container-current-day {
    border-radius: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 3% 0 0 0;
  }

  .container-infos {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    margin-bottom: 2%;
  }

  .div-temperature {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 40px;
    gap: 0.5em;
    padding-bottom: 0.5rem;
  }

  .div-temperature img {
    scale: 1;
  }

  .info-weather-div {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 30px;
  }

  .more-infos {
    display: flex;
    gap: 20px;
    text-align: center;
    font-size: 20px;
    flex-direction: column;
    padding-bottom: 20%;
  }

  .more-infos div {
    width: 100%;
  }

  .container-previsions {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 2%;
    justify-content: center;
    width: 100%;
  }
  .container-previsions div {
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1260px) {
  .container-previsions {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
}
